html {
	font-family: 'Montserrat','Open Sans', sans-serif;
	font-size: 1rem;
	letter-spacing: .03rem ;
	box-sizing: border-box;

}
body {
	width: 100% ;
	background-color: black ;
}

.content {
	text-align: center ;
	/*DEBUGING BORDER*/
	/*border: 1px solid chocolate ; */
}

/*masthead DESIGN*/

.masthead-name {
	font-family: 'Montserrat', sans-serif ;
	font-weight: 700 ;
	font-size: 20rem ; 
	margin: -2.5rem auto; 
	color: #FFFFFF;
	letter-spacing: .3rem ;

}

.masthead-last {
	font-family: 'Montserrat', sans-serif ;
	font-weight: 700 ;
	font-size: 9rem ;
	margin: -6rem 1rem 0;
	letter-spacing: 1.5rem ;
	color: #FFFFFF;
}
.masthead-heading {
	font-family: 'Open Sans', sans-serif ;
	font-weight: 400 ;
	font-size: 1.5rem ;
	margin: -.4rem 1rem .5rem ;
	color: #D9072D;
}

/*introduction DESIGN*/
.introduction {
	font-family: 'Open sans', sans-serif ;
	font-weight: 700 ;
	color: #F27507;
	margin: 0 auto;
	width: 90% ;
	letter-spacing: .04rem ;
	border-top: 1.5rem solid #d9048e;
	border-bottom: 1.5rem solid #d9048e;
	text-shadow:  .03rem .02rem 0 gray;
	padding: 1rem 0 1rem ;
}
.content> p {
	margin: -.2rem 0;
	word-spacing: .3rem ;
	font-size: 1.1rem;
}
/*CASES SECTION*/
.cases {
	margin: 0 auto;
	width: 90%;
	padding: 1rem 0 1rem;
}
.cases> .content> h1 {
	color: #09768B ;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300 ;
	font-size: 3rem ;
	float: left ;
	margin: .5rem 40rem 1rem .5rem;
}
.cases .projects > li {
	display: inline-block;
	width: 33.33%;
}
.cases .caption {
	color: #F27507 ;
	font-size: 1rem ;
	font-weight: 300 ;
}

/*footer section*/

.social {
	background-color: #09768B ;
}
.social h5 {
	font-family: 'Montserrat' sans-serif ;
	font-weight: 300 ;
	font-size: 2rem; 
	color: #FFFFFF;
	padding: 1.5rem 0 0 ;
	margin: 0 auto;
}

.icons {
	padding: 0 0;
}
.social .icons > li {
	border-radius: 1.25rem;
	list-style-type: none ; 
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 3px;
    padding: 0 0;
    text-align: center;
    color:  #94BB10;
}
.social .icons a{
	color: #94BB10;
}
}
